# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# vim temp files
.*.swp

# avr-gcc artifacts
*.bin
*.elf
*.hex
*.lst
*.map
*.srec

